<div class="container">
  <div class="header">
    <h1 class="title">Coleções</h1>
    <button type="button" [routerLink]="['novo']">Criar Coleção</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Coleção</th>
        <th>Estação e Lançamento</th>
        <th>Responsável</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let collectionList of collection$ | async"
        (click)="onEdit(collectionList.id)"
      >
        <td>{{ collectionList.id }}</td>
        <td>{{ collectionList.colecao }}</td>
        <td>{{ collectionList.estacao + " " + collectionList.ano }}</td>
        <td>{{ collectionList.responsavel }}</td>
      </tr>
    </tbody>
  </table>
</div>
