.side-menu {
  width: 220px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  border-right: 1px solid #e4e4e4;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  p {
    font-weight: 600;
    font-size: 1rem;
  }
}
.title {
  color: #b4b6c1;
}
.list {
  list-style: none;
  padding-left: 0;
}
.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: ease-in-out 0.1s;
}
.item:hover {
  background-color: #ebf0fe;
  color: #5874df;
}

.logout {
  margin-top: 12rem;
}
.selected {
  background-color: #ebf0fe;
  color: #5874df;
}
