<div class="login__box">
  <div class="login__box--header">
    <div class="header__box">
      <a class="box__btn" [routerLink]="['/']">
        <img
          class="box__btn--img"
          src="../../../../assets/images/back.png"
          alt=""
        />
      </a>
      <h1 class="header__title">Redefinir Senha</h1>
    </div>

    <p class="header__subTitle">
      Digite o e-mail associado à sua conta e enviaremos instruções para
      redefinir sua senha.
    </p>
  </div>

  <form class="login__box--form">
    <input class="form__input" type="text" placeholder="Informe seu e-mail" />

    <button type="submit" class="form__btn">Enviar Recuperação</button>
  </form>
</div>
