/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;

  color: #6a7090;
}
button {
  background-color: #0073cf;
}
button:hover {
  background-color: #015ca7;
}
