<div class="container">
  <div class="login__box">
    <div class="login__box--header">
      <h1 class="header__title">Sign In</h1>
      <p class="header__subTitle">
        Insira sua credenciais para acessar sua conta
      </p>
    </div>

    <form [formGroup]="form" class="login__box--form" #formDir="ngForm">
      <div class="form__column">
        <div class="form__column--item">
          <input
            formControlName="email"
            class="form__input"
            type="email"
            placeholder="Informe seu e-mail"
          />
          <div
            *ngIf="form.controls['email'].invalid && formDir.submitted"
            class="errorMsg"
          >
            Email inválido
          </div>
        </div>
        <div class="form__column--item">
          <input
            formControlName="password"
            class="form__input"
            type="password"
            placeholder="Informe sua senha"
          />
          <div
            *ngIf="form.controls['password'].invalid && formDir.submitted"
            class="errorMsg"
          >
            Senha inválida
          </div>
        </div>
      </div>
      <button (click)="onSubmit()" type="submit" class="form__btn">
        Entrar
      </button>
    </form>
  </div>

  <div class="forgotPwd" [routerLink]="['recover']">
    <p class="forgotPwd__text">Esqueceu sua senha?</p>
    <a class="forgotPwd__btn">Redefinir senha</a>
  </div>
</div>
