.container {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  width: 15rem;
  height: 3rem;
}
h1 {
  font-weight: 600;
}
table {
  height: 50%;
}
thead {
  tr {
    font-weight: 600;
  }
  th {
    width: 22%;
  }
}

tbody {
  tr {
    padding: 2rem 0;
    cursor: pointer;
  }
  tr:hover {
    background-color: #ebf0fe;
    color: #5874df;
  }
}
tr {
  display: flex;
  font-size: 1rem;
  text-align: center;
  height: 2.5rem;
  border-bottom: 1.5px solid #e4e4e4;
}
td {
  width: 22%;
}
