<div class="container">
  <div class="header">
    <h1 class="title">Modelos</h1>
    <button type="button" [routerLink]="['novo']">Criar Modelo</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>ModeloID</th>
        <th>Nome Modelo</th>
        <th>Coleção</th>
        <th>Responsável</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let modelList of model$ | async"
        (click)="onEdit(modelList.id)"
      >
        <td>{{ modelList.id }}</td>
        <td>{{ modelList.nome }}</td>
        <td>{{ modelList.colecao }}</td>
        <td>{{ modelList.responsavel }}</td>
      </tr>
    </tbody>
  </table>
</div>
